<!--Landing Content -->
<div class="custom-container">
  <div class="row">
    <!-- Sección 1 -->
    <div class="col-md-6 mb-4 d-flex">
      <div class="custom-card flex-fill">
        <h1>Bienvenido a SALUD Contigo</h1> <!-- Título -->
        <p>Salud contigo es una empresa del sector salud</p> <!-- Descripción -->
        <p>que se especializa en brindar servicios médicos</p> <!-- Descripción -->
        <p>accesibles para todas las personas</p> <!-- Descripción -->
      </div>
    </div>
    <!-- Sección 2 -->
    <div class="col-md-6 mb-4 d-flex">
      <div class="custom-card flex-fill">
        <img src="../../../assets/img/index1.png" alt="Imagen 1"> <!-- Imagen relacionada -->
      </div>
    </div>
    <!-- Sección 3 -->
    <div class="col-md-6 mb-0 d-flex">
      <div class="custom-card flex-fill">
        <img src="../../../assets/img/index2.png" alt="Imagen 2"> <!-- Imagen relacionada -->
      </div>
    </div>

    <!-- Sección 4 -->
    <div class="col-md-6 mb-0 d-flex">
      <div class="custom-card bg-primary-custom flex-fill">
        <h1>Tu salud es primero</h1> <!-- Título -->
        <p>Ofrece servicios médicos a la medida de cada</p> <!-- Descripción -->
        <p>paciente, para que cuide su salud mental y física.</p> <!-- Descripción -->
        <p>Salud Contigo hace que disfrutes más de la vida.</p> <!-- Descripción -->
      </div>
    </div>
  </div>
</div>
