<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-content">
          <div class="card-header" style="background-color: #0A1172; color: #fff; border-radius: 5px;">
            <h5 class="card-title">Formulario Para {{(doctor.idmedico > 0)? 'Actualizar': 'Crear'}} Médico</h5>
          </div>
          <div class="card-body">

            <form (ngSubmit)="onSubmit(doctorForm)" #doctorForm="ngForm">

              <div>
                <input placeholder="Nombres" name="nombres" [(ngModel)]="doctor.nombres" class="form-control my-2"
                       #nombres="ngModel">
                @if (errors?.nombres) {
                  <div class="text-danger">{{ errors.nombres }}</div>
                }
              </div>
              <div>
                <input placeholder="Apellidos" name="apellidos" [(ngModel)]="doctor.apellidos" class="form-control my-2"
                       #apellidos="ngModel">
                @if (errors?.apellidos) {
                  <div class="text-danger">{{ errors.apellidos }}</div>
                }
              </div>

              <div>
                <select name="tipoDocumento" [(ngModel)]="doctor.tipoDocumento" class="form-control my-2" #tipoDocumento="ngModel" required>
                  <option [ngValue]="undefined" disabled selected>Selecciona el Tipo de Documento</option>
                  <option value="CC">CC</option>
                  <option value="TI">TI</option>
                  <option value="RC">RC</option>
                  <option value="PP">PP</option>
                  <option value="CE">CE</option>
                  <option value="Otro">Otro</option>
                </select>
                @if (errors?.tipoDocumento) {
                  <div class="text-danger">{{ errors.tipoDocumento }}</div>
                }
              </div>

              <div>
                <input placeholder="NumeroDocumento" name="numeroDocumento" [(ngModel)]="doctor.numeroDocumento" class="form-control my-2"
                       #numeroDocumento="ngModel">
                @if (errors?.numeroDocumento) {
                  <div class="text-danger">{{ errors.numeroDocumento }}</div>
                }
              </div>
              <div>
                <input type="date" placeholder="FechaNacimiento" name="fechaNacimiento" [(ngModel)]="doctor.fechaNacimiento" class="form-control my-2"
                       #fechaNacimiento="ngModel">
                @if (errors?.fechaNacimiento) {
                  <div class="text-danger">{{ errors.fechaNacimiento }}</div>
                }
              </div>

              <div>
                <select name="sexo" [(ngModel)]="doctor.sexo" class="form-control my-2" #sexo="ngModel">
                  <option [ngValue]="undefined" disabled selected>Selecciona el Sexo</option>
                  <option value="Femenino">Femenino</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Otro">Otro</option>
                </select>
                @if (errors?.sexo) {
                  <div class="text-danger">{{ errors.sexo }}</div>
                }
              </div>

              <div>
                <input placeholder="Telefono" name="telefono" [(ngModel)]="doctor.telefono" class="form-control my-2"
                       #telefono="ngModel">
                @if (errors?.telefono) {
                  <div class="text-danger">{{ errors.telefono }}</div>
                }
              </div>
              <div>
                <input placeholder="Correo" name="correo" [(ngModel)]="doctor.correo" class="form-control my-2"
                       type="correo" #correo ="ngModel">
                @if (errors?.correo) {
                  <div class="text-danger">{{ errors.correo }}</div>
                }
              </div>
              <div>
                <input placeholder="Direccion" name="direccion" [(ngModel)]="doctor.direccion" class="form-control my-2"
                       type="direccion" #direccion ="ngModel">
                @if (errors?.direccion) {
                  <div class="text-danger">{{ errors.direccion }}</div>
                }
              </div>
              <div>
                <input placeholder="Especialidad" name="especialidad" [(ngModel)]="doctor.especialidad" class="form-control my-2"
                       type="especialidad" #especialidad ="ngModel">
                @if (errors?.especialidad) {
                  <div class="text-danger">{{ errors.especialidad }}</div>
                }
              </div>

              <div>
                <button type="button" class="btn bg-info m-2" [routerLink]="['/doctors/page/0']">
                  Regresar
                </button>

                @if(doctor.idmedico == 0){
                  <button type="button" class="btn btn-success m-2" (click)="onClear(doctorForm)">
                    Limpiar
                  </button>
                }

                <button type="submit" class="btn btn-primary m-2">
                  {{(doctor.idmedico > 0)? 'Actualizar': 'Crear'}}
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
